// https://getbootstrap.com/docs/4.1/getting-started/theming/
// https://bootswatch.com/darkly/
@import "./darkly-theme-variables.scss";

// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/reboot";

// Optional
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/tables";

@import "./darkly-theme-bootswatch.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

footer {
  text-align: center;
}

div#root {
  justify-content: center;
}

/*  2024 harmonic mixing palette <3  */

.segment-1A {
  color: #91f2df;

  .bg {
    color: #222222;
    background-color: #91f2df;
  }
}

.segment-1B {
  color: #6beacb;

  .bg {
    color: #222222;
    background-color: #6beacb;
  }
}

.segment-2A {
  color: #a4f1b7;

  .bg {
    color: #222222;
    background-color: #a4f1b7;
  }
}

.segment-2B {
  color: #7aea8b;

  .bg {
    color: #222222;
    background-color: #7aea8b;
  }
}

.segment-3A {
  color: #c4f49f;

  .bg {
    color: #222222;
    background-color: #c4f49f;
  }
}

.segment-3B {
  color: #a2ee68;

  .bg {
    color: #222222;
    background-color: #a2ee68;
  }
}

.segment-4A {
  color: #fadf9a;

  .bg {
    color: #222222;
    background-color: #fadf9a;
  }
}

.segment-4B {
  color: #f7cc60;

  .bg {
    color: #222222;
    background-color: #f7cc60;
  }
}

.segment-5A {
  color: #f7c8b4;

  .bg {
    color: #222222;
    background-color: #f7c8b4;
  }
}

.segment-5B {
  color: #f3a4b2;

  .bg {
    color: #222222;
    background-color: #f3a4b2;
  }
}

.segment-6A {
  color: #f4babf;

  .bg {
    color: #222222;
    background-color: #f4babf;
  }
}

.segment-6B {
  color: #f08e96;

  .bg {
    color: #222222;
    background-color: #f08e96;
  }
}

.segment-7A {
  color: #f4b7d1;

  .bg {
    color: #222222;
    background-color: #f4b7d1;
  }
}

.segment-7B {
  color: #ee89b3;

  .bg {
    color: #222222;
    background-color: #ee89b3;
  }
}

.segment-8A {
  color: #ebb8e5;

  .bg {
    color: #222222;
    background-color: #ebb8e5;
  }
}

.segment-8B {
  color: #e08ad6;

  .bg {
    color: #222222;
    background-color: #e08ad6;
  }
}

.segment-9A {
  color: #dbbefa;

  .bg {
    color: #222222;
    background-color: #dbbefa;
  }
}

.segment-9B {
  color: #c395f8;

  .bg {
    color: #222222;
    background-color: #c395f8;
  }
}

.segment-10A {
  color: #c8d4fb;

  .bg {
    color: #222222;
    background-color: #c8d4fb;
  }
}

.segment-10B {
  color: #a3b8fa;

  .bg {
    color: #222222;
    background-color: #a3b8fa;
  }
}

.segment-11A {
  color: #aae6f9;

  .bg {
    color: #222222;
    background-color: #aae6f9;
  }
}

.segment-11B {
  color: #7ad8f5;

  .bg {
    color: #222222;
    background-color: #7ad8f5;
  }
}


.segment-12A {
  color: #8ff1f2;

  .bg {
    color: #222222;
    background-color: #8ff1f2;
  }
}

.segment-12B {
  color: #6be9e9;

  .bg {
    color: #222222;
    background-color: #6be9e9;
  }
}